extends ./layout/index
block contenido
    main.container.mt-5 
        .row
            .col-md-5 
                img(src="img/nosotros.jpg", alt="Imagen sobre nosotros", class="img-fluid")
            .col-md-7
                h1 #{pagina}
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur dignissim lectus ut arcu placerat blandit. Proin et sodales leo, non pharetra nisi. Nam luctus, enim vitae tempus eleifend, nulla felis feugiat lacus, sed sodales enim sapien in purus. Integer congue sem sit amet massa bibendum laoreet. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Ut maximus convallis lectus malesuada vulputate.

                p Mauris quis ultricies nulla. Praesent neque quam, vehicula vel elementum ac, gravida sit amet tellus. Aliquam sed cursus est, sed auctor leo. Aenean a commodo velit, in auctor diam. Fusce faucibus scelerisque eros quis mollis. Pellentesque eget elit lorem. Maecenas ullamcorper, . 

                p In pulvinar, purus quis convallis posuere, elit nisl condimentum dolor, sit amet fringilla tortor justo rhoncus orci. Vivamus eu mattis arcu. Nullam sit amet magna arcu. Sed eu accumsan nulla, vitae.
    .listado-iconos 
        .container.mt-5.py-5.text-center 
            .row 
                .col-md-4 
                    img(src="img/icono_seguridad.svg", alt="inoco seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    p In pulvinar, purus quis convallis posuere, elit nisl condimentum dolor, sit amet fringilla tortor justo rhoncus orci. Vivamus eu mattis arcu. Nullam sit amet magna arcu. Sed eu accumsan nulla, 
                .col-md-4 
                    img(src="img/icono_destinos.svg", alt="inoco seguridad", class="img-fluid mb-4")
                    h2.mb-4 Destinos 
                    p In pulvinar, purus quis convallis posuere, elit nisl condimentum dolor, sit amet fringilla tortor justo rhoncus orci. Vivamus eu mattis arcu. Nullam sit amet magna arcu. Sed eu accumsan nulla,   
                .col-md-4 
                    img(src="img/icono_precios.svg", alt="inoco seguridad", class="img-fluid mb-4")
                    h2.mb-4 Los mejores precios 
                    p In pulvinar, purus quis convallis posuere, elit nisl condimentum dolor, sit amet fringilla tortor justo rhoncus orci. Vivamus eu mattis arcu. Nullam sit amet magna arcu. Sed eu accumsan nulla,                  